body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* fontpage Design Start */


h1{
    font-size: 50px;
}

.title-color{
    color: #2F80ED;
}

.flexcontainer{
    display: flex;
}

.head-part{
    width: 50%;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 15px;
}

.img-part{
    width: 50;
    padding: 1% 3% 3% 3% ;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#56CCF2, #2F80ED);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

p{
    margin-bottom: 25px;
    margin-right: 85px;
}

.img-style{
    width: auto;
    height: auto;
}

.top-bg{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.db{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Fontpage Design End */


/* 2nd Page Design Start */

.half-width{
    width: 40%;
    padding-left: 40px;
    box-shadow: 10px 10px 40px gray;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding-bottom: 40px;
}

.exp{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 165px;
    background-size: 130px;
}

#expborder1{
   border-left: 8px solid;
   border-image: linear-gradient(#fc4a1a, #f7b733);
   border-image-slice: 30;
}

#expborder{
    border-left: 8px solid;
   border-image: linear-gradient(#4c2c58, #a044ff);
   border-image-slice: 30;
}

footer{
    margin-top: 150px;
}

footer p{
    text-align: center;
    font-weight: 200;
}

.exphead{
    margin: 100px 0px 50px 50px;
    text-align: left;
}
.footlink{
    text-decoration: none;
}

/* 2nd Page Design End */

